<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="yahoofinance" xsi:type="array">
                    <item name="label" xsi:type="string">Yahoo Finance</item>
                    <item name="class" xsi:type="string">Mehulchaudhari\Currency\Model\Yahoo</item>
                </item>
            </argument>
            <argument name="servicesConfig" xsi:type="array">
                <item name="openapi" xsi:type="array">
                    <item name="label" xsi:type="string">Open Api</item>
                    <item name="class" xsi:type="string">Mehulchaudhari\Currency\Model\Openapi</item>
                </item>
            </argument>
            <argument name="servicesConfig" xsi:type="array">
                <item name="google" xsi:type="array">
                    <item name="label" xsi:type="string">Google Currency Converter</item>
                    <item name="class" xsi:type="string">Mehulchaudhari\Currency\Model\Google</item>
                </item>
            </argument>
            <argument name="servicesConfig" xsi:type="array">
                <item name="api" xsi:type="array">
                    <item name="label" xsi:type="string">Currency API Currency Converter</item>
                    <item name="class" xsi:type="string">Mehulchaudhari\Currency\Model\Api</item>
                </item>
            </argument>
        </arguments>
    </type>
   <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="rateCommand" xsi:type="object">Mehulchaudhari\Currency\Command\Rate</item>
            </argument>
        </arguments>
    </type>
</config>
