<?xml version="1.0"?>
<!--
/**
 * Mehulchaudhari FeedsGenerator Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Mehulchaudhari
 * @package    Mehulchaudhari_FeedsGenerator
 * @author     Mehul Chaudhari
 * @copyright  Copyright (c) 2014 ; ;
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mehulchaudhari_FeedsGenerator>
            <version>1.4.0</version>
        </Mehulchaudhari_FeedsGenerator>
    </modules>
    <crontab>
        <jobs>
            <Mehulchaudhari_FeedsGenerator_Googleproducts>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/googleproducts_cron::generateFeedViaMagentoCron</model>
                </run>
            </Mehulchaudhari_FeedsGenerator_Googleproducts>
        </jobs>
    </crontab>
    <global>
        <models>
            <feedsgenerator>
                <class>Mehulchaudhari_FeedsGenerator_Model</class>
            </feedsgenerator>
        </models>
		
        <helpers>
            <feedsgenerator>
                <class>Mehulchaudhari_FeedsGenerator_Helper</class>
            </feedsgenerator>
        </helpers>
        <blocks>
            <feedsgenerator>
                <class>Mehulchaudhari_FeedsGenerator_Block</class>
            </feedsgenerator>
        </blocks>
        <resources>
            <feedsgenerator_setup>
                <setup>
                    <module>Mehulchaudhari_FeedsGenerator</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </feedsgenerator_setup>
            <feedsgenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </feedsgenerator_write>
            <feedsgenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </feedsgenerator_read>
        </resources>
    </global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Mehulchaudhari_FeedsGenerator after="Mage_Adminhtml">Mehulchaudhari_FeedsGenerator_Adminhtml</Mehulchaudhari_FeedsGenerator>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <default>
        <mehulchaudhari_feedsgenerator>
            <general>
                <use_magento_cron>1</use_magento_cron>
            </general>
            <googleproductsfeed>
                <output>googleproducts-feeds/</output>
                <include_all_products>1</include_all_products>
                <default_condition>new</default_condition>
            </googleproductsfeed>
        </mehulchaudhari_feedsgenerator>
    </default>
</config>
