<?xml version="1.0"?>
<config>
  <modules>
    <MehulChaudhari_Upshare>
      <version>0.1.0</version>
    </MehulChaudhari_Upshare>
  </modules>
  <frontend>
    <routers>
      <upshare>
        <use>standard</use>
          <args>
            <module>MehulChaudhari_Upshare</module>
            <frontName>upshare</frontName>
          </args>
      </upshare>
    </routers>
		<layout>
		  <updates>
			<upshare>
			  <file>upshare.xml</file>
			</upshare>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <upshare>
        <class>MehulChaudhari_Upshare_Helper</class>
      </upshare>
    </helpers>
	<blocks>
	  <upshare>
		<class>MehulChaudhari_Upshare_Block</class>
	  </upshare>
	</blocks>
  </global>
</config> 