<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
		<webdevloper translate="label" module="webdevlopers_productpageshipping">
            <label>WebDevlopers</label>
            <sort_order>0</sort_order>
        </webdevloper>
	</tabs>
    <sections>
        <webdevlopers_productpageshipping module="webdevlopers_productpageshipping" label="label">
            <class>separator-top</class>
            <label>Product Page Shipping</label>
            <tab>webdevloper</tab>
            <frontend_type>text</frontend_type>
            <sort_order>45</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Product Page Shipping Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Product Page Shipping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <display_position translate="label comment">
                            <label>Display In</label>
                            <frontend_type>select</frontend_type>
                            <comment>Position of the block depends on your theme layout</comment>
                            <source_model>webdevlopers_productpageshipping/config_source_position</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_position>
                        <use_country translate="label">
                            <label>Display Country Dropdown</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default it will take a default country from shipping setting.</comment>
                        </use_country>
                        <use_region translate="label">
                            <label>Display Region Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_region>
                        <use_city translate="label">
                            <label>Display City Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_city>
                        <use_postcode translate="label">
                            <label>Display Zip/Postal Code Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_postcode>
                        <use_coupon_code translate="label">
                            <label>Display Coupon Code Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_coupon_code>
                        <use_cart translate="label">
                            <label>Display Include Cart Items Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_cart>
                        <!--<use_cart_default translate="label">
                            <label>Include Cart Items by Default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>700</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_cart_default>-->
                    </fields>
                </settings>
				<message translate="label">
                    <label>Product Page Shipping Settings Label</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>101</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <blocktitle translate="label">
                            <label>Block Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blocktitle>
						<blockdec translate="label">
                            <label>Block Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blockdec>
						<shippingblocktitle translate="label">
                            <label>Shipping Block Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shippingblocktitle>
						<result translate="label">
                            <label>Default Result Massage</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </result>
						<button translate="label">
                            <label>Button</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>54</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </button>
                    </fields>
                </message>
            </groups>
        </webdevlopers_productpageshipping>
    </sections>
</config>
