<?xml version="1.0"?>
<config>
  <modules>
    <Pdf_Allow>
      <version>0.1.0</version>
    </Pdf_Allow>
  </modules>
 <adminhtml>
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <pdf>1</pdf>
                    </allowed>
                </extensions>
            </browser>
        </cms>
    </adminhtml>
  <global>
    <helpers>
      <allow>
        <class>Pdf_Allow_Helper</class>
      </allow>
    </helpers>
  </global>
</config> 
