<?xml version="1.0"?>
<config>
  <modules>
    <Pdf_Allow>
      <version>0.1.0</version>
    </Pdf_Allow>
  </modules>
  <adminhtml>
        <cms>
            <browser>
                <extensions>
                    <allowed> 
                        <pdf>1</pdf>
                    </allowed>
					<image_allowed>
					    <pdf>1</pdf>
					</image_allowed>
                </extensions>
            </browser>
        </cms>
    </adminhtml>
  <global>
    <blocks>
            <adminhtml>
                <rewrite>
                    <cms_wysiwyg_images_content_files>Pdf_Allow_Block_Thumb</cms_wysiwyg_images_content_files>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cms>
                <rewrite>
                    <wysiwyg_images>Pdf_Allow_Helper_File</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
		<models>
		    <cms>
			   <rewrite>
                    <wysiwyg_images_storage>Pdf_Allow_Model_Storage</wysiwyg_images_storage>
                </rewrite>
			</cms>
		</models>
  </global>
  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Pdf_Allow before="Mage_Adminhtml">Pdf_Allow</Pdf_Allow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 
