<?xml version="1.0"?>
<config>
  <modules>
    <Mehulchaudhari_Facebookconversion>
      <version>0.1.0</version>
    </Mehulchaudhari_Facebookconversion>
  </modules>
  <frontend>
    <routers>
      <facebookconversion>
        <use>standard</use>
          <args>
            <module>Mehulchaudhari_Facebookconversion</module>
            <frontName>facebookconversion</frontName>
          </args>
      </facebookconversion>
    </routers>
		<layout>
		  <updates>
			<facebookconversion>
			  <file>facebookconversion.xml</file>
			</facebookconversion>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <facebookconversion>
        <class>Mehulchaudhari_Facebookconversion_Helper</class>
      </facebookconversion>
    </helpers>
	<blocks>
	  <facebookconversion>
		<class>Mehulchaudhari_Facebookconversion_Block</class>
	  </facebookconversion>
	</blocks>
  </global>
</config> 