<?xml version="1.0"?>
<config>
	  <tabs>
		<mehulchaudhari translate="label" module="facebookconversion">
            <label>MehulChaudhari</label>
            <sort_order>205</sort_order>
        </mehulchaudhari>
	  </tabs>
	  <sections>
		<facebookconversion  translate="label" module="facebookconversion">                    
		<label>Facebook Conversion</label>
		<tab>mehulchaudhari</tab>
		<frontend_type>text</frontend_type>
		<sort_order>20</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <settings translate="label"> 
					  <label>General Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>20</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Enable Disable Extension</comment>
                          </enable>
                          <pixelid translate="label">
                            <label>Pixel Id</label>
							<frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Your Facebook Pixel Id</comment>
                          </pixelid>
                          <custom translate="label">
                            <label>Custom Audience Pixel</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Enable Disable Custom Audience Pixel</comment>
                          </custom>
					   </fields>
					   </settings>
					</groups>
		</facebookconversion>
	  </sections>
</config>
