<?xml version="1.0"?>
<config>
  <modules>
    <MehulChaudhari_Shippingcart>
      <version>0.1.0</version>
    </MehulChaudhari_Shippingcart>
  </modules>
  <global>
    <helpers>
      <shippingcart>
        <class>MehulChaudhari_Shippingcart_Helper</class>
      </shippingcart>
    </helpers>
	<models>
	  <shippingcart>
		<class>MehulChaudhari_Shippingcart_Model</class>
		<resourceModel>shippingcart_mysql4</resourceModel>
	  </shippingcart>
	</models>
  </global>
  <frontend>
    <events>
	  <!--<sales_quote_collect_totals_after>
		<observers>
		  <sales_quote_collect_totals_before_handler>
		    <type>model</type>
		    <class>shippingcart/observer</class>
		    <method>Applyshipping</method>
		    <args></args>
		  </sales_quote_collect_totals_before_handler>
		</observers>
      	  </sales_quote_collect_totals_after>-->
          <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <shippingcart>
                        <type>singleton</type>
                        <class>shippingcart/observer</class>
            		<method>Applyshipping</method>
                    </shippingcart>
               </observers>
         </controller_action_predispatch_checkout_cart_index>
    </events>
  </frontend>
</config> 
