<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="product_attribute_form_build_main_tab">
        <observer name="attribute_description" instance="Mehulchaudhari\Description\Model\Observer" method="addFieldToAttributeEditForm" />
    </event>
</config>
