<?xml version="1.0"?>
<config>
  <modules>
    <Mehulchaudhari_Coupon>
      <version>0.1.0</version>
    </Mehulchaudhari_Coupon>
  </modules>
  <global>
    <helpers>
      <coupon>
        <class>Mehulchaudhari_Coupon_Helper</class>
      </coupon>
    </helpers>
	<models>
	  <coupon>
		<class>Mehulchaudhari_Coupon_Model</class>
		<resourceModel>coupon_mysql4</resourceModel>
	  </coupon>
	</models>
    <events>
	  <sales_order_shipment_save_after> <!-- identifier of the event we want to catch -->
        <observers>
          <sales_model_service_quote_submit_after_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>coupon/observer</class> <!-- observers class alias -->
            <method>sendEmail</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </sales_model_service_quote_submit_after_handler>
        </observers>
      </sales_order_shipment_save_after>
    </events>
  </global>
</config> 