<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
         <tab id="mehulchaudhari" translate="label" sortOrder="9999991">
            <label>Mehul Chaudhari</label>
         </tab>
         <section id="geoip" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>GeoIP</label>
            <tab>mehulchaudhari</tab>
            <resource>Mehulchaudhari_GeoIP::config_geoip</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="status" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GeoIP Ext</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Enable Disable Extension</comment>
                </field>
                <field id="testing" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Testing Mode for:</label>
                    <source_model>Mehulchaudhari\Geoip\Model\Testingmode</source_model>
                    <comment>Enable/Disable testing mode. This will disable session storage for the users location</comment>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
                <field id="ip_whitelist" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>IP Whitelist</label>
                    <comment>List of comma seperated IP addresses that are immune from session storage</comment>
                    <depends>
                        <field id="testing">2</field>
                    </depends>
                </field>
                <field id="country_override" translate="label comment" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Override</label>
                    <comment>ISO 3166 country code to mimic. Can be left blank to disable session only</comment>
                    <depends>
                        <field id="testing" separator=",">1,2,3</field>
                    </depends>
                </field>
                <field id="switch_currency" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Currency Switching</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
                <field id="switch_store" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Store Switching</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
                <field id="apache_or_file" translate="label comment" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use local GeoIP file</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment> <![CDATA[ <span>Enable if you cannot use the Apache GeoIP module</span> ]]></comment>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
                <field id="file_location" translate="label comment" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GeoIP data Override file name</label>
                    <comment>Place .dat file in [Mage Dir]/app/code/Mehulchaudhari/Geoip/lib/Data</comment>
                    <depends>
                        <field id="apache_or_file">1</field>
                    </depends>
                </field>
                
                <field id="private_bypass" translate="label comment" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable localhost bypass</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Extension does not work correctly on localhost. Enable this to bypass checks and attempt to run as normal anyway</comment>
                </field>
            </group>
            <group id="geoipset" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GeoIP Pairing</label>
                <field id="ippair" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GeoIP Pairing</label>
                    <frontend_model>Mehulchaudhari\Geoip\Block\Countrydefine</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
       </section>
    </system>
</config>
