<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="geoip" instance="Mehulchaudhari\Geoip\Model\Observer" method="controllerActionPredispatch" />
    </event>
</config>
