<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Mehulchaudhari_Daisyconfeed::catalog_daisyconfeed" title="Daisyconfeed" module="Mehulchaudhari_Daisyconfeed" sortOrder="40" parent="Magento_Backend::marketing_seo" action="adminhtml/daisyconfeed/" resource="Mehulchaudhari_Daisyconfeed::daisyconfeed"/>
    </menu>
</config>
