<?xml version="1.0" encoding="UTF-8"?>

<config>
  <modules>
    <MehulChaudhari_Theme>
      <version>1</version>
    </MehulChaudhari_Theme>
  </modules>
  <global>
    <models>
      <themeswitch>
        <class>MehulChaudhari_Theme_Model</class>
      </themeswitch>
    </models>
    <blocks>
      <themeswitch>
        <class>MehulChaudhari_Theme_Block</class>
      </themeswitch>
    </blocks>
    <helpers>
      <themeswitch>
        <class>MehulChaudhari_Theme_Helper</class>
      </themeswitch>
    </helpers>
  </global>
  <frontend>
    <routers>
      <MehulChaudhari_Theme>
        <use>standard</use>
        <args>
          <module>MehulChaudhari_Theme</module>
          <frontName>switch-theme</frontName>
        </args>
      </MehulChaudhari_Theme>
    </routers>
    <events>
      <controller_action_predispatch>
        <observers>
          <themeswitch>
            <class>themeswitch/switcher</class>
            <method>switchTheme</method>
          </themeswitch>
        </observers>
      </controller_action_predispatch>
      <controller_action_layout_render_before>
        <observers>
          <themeswitch>
            <class>themeswitch/switcher</class>
            <method>addSwitcher</method>
          </themeswitch>
        </observers>
      </controller_action_layout_render_before>
    </events>
  </frontend>
  <default>
    <design>
      <theme_switcher>
        <in_block>right</in_block>
        <class_name>cm-switcher</class_name>
      </theme_switcher>
    </design>
  </default>
</config>
