<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MehulChaudhari_Description>
            <version>1.0.0</version>
        </MehulChaudhari_Description>
    </modules>
    <global>
	    <blocks>
            <description>
                <class>MehulChaudhari_Description_Block</class>
            </description>
			<adminhtml>
				<rewrite>
                     <catalog_product_attribute_edit_form>MehulChaudhari_Description_Block_Form</catalog_product_attribute_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
		<helpers>
            <description>
                <class>MehulChaudhari_Description_Helper</class>
            </description>
        </helpers>
        <models>
            <description>
                <class>MehulChaudhari_Description_Model</class>
            </description>
        </models>
        <resources>
            <description_setup>
                <setup>
                    <module>MehulChaudhari_Description</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </description_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <tooltip>
                        <type>singleton</type>
                        <class>description/observer</class>
                        <method>addFieldToAttributeEditForm</method>
                    </tooltip>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
</config>