<?xml version="1.0"?>
<config>
  <modules>
    <MehulChaudhari_Popularity>
      <version>0.1.0</version>
    </MehulChaudhari_Popularity>
  </modules>
  <frontend>
    <routers>
      <popularity>
        <use>standard</use>
          <args>
            <module>MehulChaudhari_Popularity</module>
            <frontName>popularity</frontName>
          </args>
      </popularity>
    </routers>
		<layout>
		  <updates>
			<popularity>
			  <file>popularity.xml</file>
			</popularity>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <popularity>
        <class>MehulChaudhari_Popularity_Helper</class>
      </popularity>
    </helpers>
    <models>
        <popularity>
                <class>MehulChaudhari_Popularity_Model</class>
        </popularity>
    </models>
	<blocks>
	  <popularity>
		<class>MehulChaudhari_Popularity_Block</class>
	  </popularity>
          <catalog>
                <rewrite>
                    <product_list>MehulChaudhari_Popularity_Block_List</product_list>
                </rewrite>
          </catalog>
		  <catalog>
		        <rewrite>
				   <product_compare_list>MehulChaudhari_Popularity_Block_Compare_List</product_compare_list>
				</rewrite>
          </catalog>		  
	</blocks>
  </global>
</config> 
