<?xml version="1.0"?>
<config>
    <modules>
        <Mehulchaudhari_Currency>
            <version>1.0.0</version>
        </Mehulchaudhari_Currency>
    </modules>
    <global>
        <currency>
            <import>
                <services>
                    <yahoofinance>
                        <name>Yahoo Finance</name>
                        <model>Mehulchaudhari_Currency_Model_Yahoo</model>
                    </yahoofinance>
                </services>
            </import>
        </currency>
        <models>
            <mehulchaudhari_currency>
                <class>Mehulchaudhari_Currency_Model_Yahoo</class>
            </mehulchaudhari_currency>
        </models>
    </global>
</config>
