<?xml version="1.0"?>

<config>
    <modules>
        <Devsters_Gift>
            <version>0.1.9</version>
        </Devsters_Gift>
    </modules>
    <global>        
       <helpers>
            <gift>
                <class>Devsters_Gift_Helper</class>
            </gift>
        </helpers>
        <models>
            <gift>
		<class>Devsters_Gift_Model</class>
		<resourceModel>gift_mysql4</resourceModel>
            </gift> 
            <gift_mysql4>
                <class>Devsters_Gift_Model_Mysql4</class>
                <entities>
                    <gift>
                        <table>devsters_gift_cards</table>
                    </gift>
                </entities>
            </gift_mysql4> 
            <gift_sales>
		<rewrite>
			<order>Devsters_Gift_Sales_Model_Order</order>
		</rewrite>
	   </gift_sales>     
        </models>    
        <blocks>
            <gift>
                <class>Devsters_Gift_Block</class>
            </gift>
        </blocks>       
        <resources>
            <gift_setup>
                <setup>
                    <module>Devsters_Gift</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gift_setup>            
            <gift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gift_write>
            <gift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gift_read>                        
        </resources>        
        
        <catalog>
            <product>
                <type>
                    <gift translate="label" module="catalog">
                        <label>Devsters Gift Product</label>
                        <model>gift/product_type_cards</model>
                        <index_data_retreiver>gift/catalogIndex_data_cards</index_data_retreiver>
                        <price_model>gift/product_price</price_model>
                        <composite>0</composite>
                    </gift>
                </type>
	     </product>        
        </catalog>
	</global>  

    <admin>
        <routers>
			<gift>
				<use>admin</use>
				<args>
					<module>Devsters_Gift</module>
					<frontName>gift</frontName>
				</args>
		
			</gift>
        </routers>
    </admin>
    <adminhtml>
             <menu>
               <gift translate="title" module="gift">
                <title>Devsters</title>
                    <children>
                        <giftcards translate="title" >
                            <title>Manage Gift Cards</title>
                            <action>gift/adminhtml_giftcards</action>                            
                            <sort_order>0</sort_order>
                        </giftcards>
                    </children>
                <sort_order>900</sort_order>
               </gift>
             </menu>
	     <acl>
            	<resources>
                  <all>
                    <title>Allow Everything</title>
                  </all>
                  <admin>
                    <children>
                        <Devsters_Gift>
                            <title>Giftcards Module</title>
                            <sort_order>10</sort_order>
                        </Devsters_Gift>
                    </children>
                  </admin>
               </resources>
            </acl>             
            <layout>
               <updates>
                 <gift>
                    <file>devstersgiftcards.xml</file>
                 </gift>
              </updates>
           </layout>           
		<events>
			<catalog_product_new_action>
			    <observers>
			        <gift_observer_catalog_product_new_action>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductNewAction</method>
			        </gift_observer_catalog_product_new_action>
			    </observers>
			</catalog_product_new_action>
			<catalog_product_edit_action>
			    <observers>
			        <gift_observer_catalog_product_edit_action>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductEditAction</method>
			        </gift_observer_catalog_product_edit_action>
			    </observers>
			</catalog_product_edit_action>			
            <catalog_product_prepare_save>
                <observers>
                	<gift_observer_catalog_product_prepare_save>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductPrepareSave</method>
			        </gift_observer_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_delete_before>
                <observers>
                	<gift_observer_catalog_product_delete_before>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductDeleteBefore</method>
			        </gift_observer_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>            
            <catalog_product_save_after>
                <observers>
                	<gift_observer_catalog_product_save_after>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductSaveAfter</method>
			        </gift_observer_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                	<gift_observer_catalog_product_status_update>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductStatusUpdate</method>
			        </gift_observer_catalog_product_status_update>
                </observers>
            </catalog_product_status_update>            
            
            
            
            
            <sales_order_item_save_after>
                <observers>
                	<gift_observer_sales_order_item_save_after>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoSalesOrderItemSaveAfter</method>
			        </gift_observer_sales_order_item_save_after>
                </observers>
            </sales_order_item_save_after>
            
           
            <sales_order_save_before>
                <observers>
                	<gift_observer_sales_order_save_before>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoSalesOrderSaveBefore</method>
			        </gift_observer_sales_order_save_before>
                </observers>
            </sales_order_save_before>            
            <sales_order_save_after>
                <observers>
                	<gift_observer_sales_order_save_after>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoSalesOrderSaveAfter</method>
			        </gift_observer_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            
            
            
            <catalogrule_before_apply>
                <observers>
                	<gift_observer_catalogrule_before_apply>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogruleBeforeApply</method>
			        </gift_observer_catalogrule_before_apply>
                </observers>
            </catalogrule_before_apply>
            <catalogrule_after_apply>
                <observers>
                	<gift_observer_catalogrule_after_apply>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogruleAfterApply</method>
			        </gift_observer_catalogrule_after_apply>
                </observers>
            </catalogrule_after_apply>
            <catalog_entity_attribute_save_after>
                <observers>
                	<gift_observer_catalog_entity_attribute_save_after>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogEntityAttributeSaveAfter</method>
			        </gift_observer_catalog_entity_attribute_save_after>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_delete_after_done>
                <observers>
                	<gift_observer_catalog_product_delete_after_done>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductDeleteAfterDone</method>
			        </gift_observer_catalog_product_delete_after_done>
                </observers>
            </catalog_product_delete_after_done>

            <customer_login>
                <observers>
                	<gift_observer_customer_login>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCustomerLogin</method>
			        </gift_observer_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                	<gift_observer_customer_logout>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCustomerLogout</method>
			        </gift_observer_customer_logout>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                	<gift_observer_sales_quote_save_after>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoSalesQuoteSaveAfter</method>
			        </gift_observer_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <catalog_product_collection_load_after>
                <observers>
                	<gift_observer_catalog_product_collection_load_after>
			            <type>singleton</type>
			            <class>gift/observer</class>
			            <method>hookIntoCatalogProductCollectionLoadAfter</method>
			        </gift_observer_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
		</events>		
	</adminhtml>
	
	  
	  
</config>
