<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <geoip>
            <general>
                <status>0</status>
                <testing>0</testing>
                <country_override></country_override>
                <switch_currency>0</switch_currency>
                <switch_store>0</switch_store>
                <apache_or_file>0</apache_or_file>
                <file_location>geoip.dat</file_location>   
                <varnish_enabled>0</varnish_enabled>
                <varnish_headers><![CDATA[HTTP_X_REAL_IP, HTTP_X_FORWARDED_FOR, REMOTE_ADDR]]></varnish_headers>      
                <private_bypass>0</private_bypass>       
            </general>  
            <geoipset>
            </geoipset>
        </geoip>
    </default>
</config>
